.wheel {
    background-image:url(../images/activity-lottery-bg.png);
    background-size:cover;
    background-repeat:no-repeat;
    height:300px;
    padding-top:23px;
}

.wheel .panzi {
    width: 260px;
    margin: auto;
}

.boxcontent {
	margin:15px 15px 0;
	border-radius: 5px;
	padding: 2px;
	background-color: #FEF8B2;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.box {
	border-radius: 5px;
	font-size:14px;
	border: 1px dashed rgba(0, 0, 0, 0.3);
}

.box .title-green {
	padding: 0 5px 0px 10px;
	background:url(../images/title-bg-green.png) no-repeat 0 0;
	border-radius: 3px 3px 3px 0;
	color:#ffffff;
	height:22px;
	margin:-1px;
}

.box .title-brown {
	padding: 0 5px 0px 10px;
	background:url(../images/title-bg-brown.png) no-repeat 0 0;
	border-radius: 3px 3px 3px 0;
	color:#ffffff;
	height:22px;
	margin:-1px;
}

.box .Detail {
	padding: 15px;
}
.Detail img {
	height: auto;
	max-width: 100%;
	border: 0 none;
}

