<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteUrl>ncp.tewuwang.com</SiteUrl>
  <Theme>default</Theme>
  <VTheme>default</VTheme>
  <DecimalLength>2</DecimalLength>
  <DefaultProductImage>/utility/pics/none.gif</DefaultProductImage>
  <DefaultProductThumbnail1>/utility/pics/none.gif</DefaultProductThumbnail1>
  <DefaultProductThumbnail2>/utility/pics/none.gif</DefaultProductThumbnail2>
  <DefaultProductThumbnail3>/utility/pics/none.gif</DefaultProductThumbnail3>
  <DefaultProductThumbnail4>/utility/pics/none.gif</DefaultProductThumbnail4>
  <DefaultProductThumbnail5>/utility/pics/none.gif</DefaultProductThumbnail5>
  <DefaultProductThumbnail6>/utility/pics/none.gif</DefaultProductThumbnail6>
  <DefaultProductThumbnail7>/utility/pics/none.gif</DefaultProductThumbnail7>
  <DefaultProductThumbnail8>/utility/pics/none.gif</DefaultProductThumbnail8>
  <CheckCode>5906201527DAF133A836042C41DBE437757A697B</CheckCode>
  <Disabled>false</Disabled>
  <Footer>
  </Footer>
  <RegisterAgreement>
  </RegisterAgreement>
  <LogoUrl>/utility/pics/logo.jpg</LogoUrl>
  <OrderShowDays>7</OrderShowDays>
  <CloseOrderDays>1</CloseOrderDays>
  <FinishOrderDays>7</FinishOrderDays>
  <TaxRate>0</TaxRate>
  <PointsRate>1.00</PointsRate>
  <SiteName>自个村</SiteName>
  <YourPriceName>
  </YourPriceName>
  <EmailSender>hishop.plugins.email.aspnetmail</EmailSender>
  <EmailSettings>IFx98gwXGaoDAzcY2gOBvi0hSsLlFXAOgwvMsNA8XuLUZgivyWEiNMYUwEyEHBcIC7CcdhNbjGsA8JB1AGbD6+Zjg+wMaRUNoutZzuSmAeReKncJqJne/GatW1IzrtyezWBOVIoJaPJ49cZYMgddVn/RVAleVAgdDr/6ueovIDLKOXZGDO3zeFS5KA5P4OQ/O43TNDtNQwHu3Nq3s6YXwLmnSjA5V6tVcUwaEfHHuHdsOsB26wWlLNPacAdKwcd9AKtWXZwquiYxJfnxjNPNtNFjBYi7xtqMBaWVxhoF+wwIvleKvJbhZSTtyw04zsF2Dq1RT1y5mbpeoZx7ieVJyY+oCDtsrO5OqocwJZYxoIc=</EmailSettings>
  <SMSSender>
  </SMSSender>
  <SMSSettings>
  </SMSSettings>
  <EnabledCnzz>true</EnabledCnzz>
  <CnzzUsername>1255391542</CnzzUsername>
  <CnzzPassword>5082760100</CnzzPassword>
  <WeixinAppId>wx0451bd8ab0150996</WeixinAppId>
  <WeixinAppSecret>f3c062fdb14aee0d617f0de7114c45d0</WeixinAppSecret>
  <WeixinPaySignKey>
  </WeixinPaySignKey>
  <WeixinPartnerID>1250488301</WeixinPartnerID>
  <WeixinPartnerKey>bairen10083526251981101004150597</WeixinPartnerKey>
  <IsValidationService>false</IsValidationService>
  <WeixinToken>8BEE82C84A115500</WeixinToken>
  <WeixinNumber>
  </WeixinNumber>
  <WeixinLoginUrl>
  </WeixinLoginUrl>
  <WeiXinCodeImageUrl>/Storage/master/WeiXinCodeImageUrl.jpg</WeiXinCodeImageUrl>
  <VipCardBG>/Storage/master/Vipcard/vipbg.png</VipCardBG>
  <VipCardLogo>自个村</VipCardLogo>
  <VipCardQR>/Storage/master/Vipcard/vipqr.jpg</VipCardQR>
  <VipCardPrefix>10000</VipCardPrefix>
  <VipCardName>VIP盟友卡</VipCardName>
  <VipRequireName>true</VipRequireName>
  <VipRequireMobile>true</VipRequireMobile>
  <VipRequireQQ>true</VipRequireQQ>
  <VipRequireAdress>true</VipRequireAdress>
  <VipEnableCoupon>false</VipEnableCoupon>
  <VipRemark>
  </VipRemark>
  <EnablePodRequest>true</EnablePodRequest>
  <EnableAlipayRequest>false</EnableAlipayRequest>
  <EnableWeiXinRequest>true</EnableWeiXinRequest>
  <EnableOffLineRequest>false</EnableOffLineRequest>
  <EnableWapShengPay>false</EnableWapShengPay>
  <OffLinePayContent>
  </OffLinePayContent>
  <DistributorDescription>&lt;p&gt;&lt;span style="font-size:16px;"&gt;&lt;strong&gt;分享流程:&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-size:16px;"&gt;1、登录分销商店铺～二维码～发送给朋友/分享到朋友圈。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-size:16px;"&gt;2、登录分销商店铺～首页～发送给朋友/分享到朋友圈。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;br /&gt;
&lt;span style="font-size:16px;"&gt;&lt;strong&gt;注册流程:&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-size:16px;"&gt;点击推荐人分享的二维码链接～长按二维码自动识别推荐人店铺/点击店铺底部我的～微信授权登录～开通会员。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-size:16px;"&gt;&lt;strong&gt;开通分销流程：&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-size:16px;"&gt;微信登录～点击申请分销～未满足分销条件返回～消费1元～申请成为分销～填写分销资料～开通分销。&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;br /&gt;
&lt;span style="font-size:16px;"&gt;&lt;strong&gt;注明:&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;p&gt;&lt;span style="font-size:16px;"&gt;开通分销之前的消费或销售不计入分销佣金，也不会在你的推荐人分销商列表显示。只有当你成为分销商后，你的店铺信息才会在你的推荐人分销列表显示，你今后的销售均与推荐人有关。特此说明。&lt;/span&gt;&lt;/p&gt;</DistributorDescription>
  <DistributorBackgroundPic>/Storage/data/DistributorBackgroundPic/20150708090917_1965.jpg|</DistributorBackgroundPic>
  <DistributorLogoPic>
  </DistributorLogoPic>
  <SaleService>&lt;div align="center"&gt;&lt;a href="http://wpa.qq.com/msgrd?V=3&amp;amp;uin=249023118&amp;amp;Site=QQ客服&amp;amp;Menu=yes" target="blank"&gt;&lt;img width="76" height="24" style="width:96px;height:30px;" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=1:249023118:1" border="0" /&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp; &amp;nbsp;&lt;a href="http://wpa.qq.com/msgrd?V=3&amp;amp;uin=249023118&amp;amp;Site=QQ客服&amp;amp;Menu=yes" target="blank"&gt;&lt;img width="74" height="24" style="width:90px;height:30px;" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=1:249023118:1" border="0" /&gt;&lt;/a&gt;&amp;nbsp; &amp;nbsp; &lt;a href="http://wpa.qq.com/msgrd?V=3&amp;amp;uin=249023118&amp;amp;Site=QQ客服&amp;amp;Menu=yes" target="blank"&gt;&lt;img width="76" height="23" style="width:90px;height:30px;" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=1:249023118:1" border="0" /&gt;&lt;/a&gt;&lt;/div&gt;
&lt;p align="center"&gt;&amp;nbsp;&lt;/p&gt;
&lt;p align="center"&gt;
 &lt;a class="btn btn-danger btn-block" href="tel:0597-3103788" type="button"&gt;服务电话:0597-3103788&lt;/a&gt;&lt;/p&gt;</SaleService>
  <MentionNowMoney>100</MentionNowMoney>
  <ShopIntroduction>购物满99包邮</ShopIntroduction>
  <ApplicationDescription>&lt;img src="/Storage/master/gallery/201507/20150729133327_0001.jpg" title="se20539660" alt="se20539660" border="0" /&gt;</ApplicationDescription>
  <OpenManyService>true</OpenManyService>
  <IsRequestDistributor>true</IsRequestDistributor>
  <FinishedOrderMoney>1000</FinishedOrderMoney>
  <RechargeMoney>1</RechargeMoney>
  <RegisterDistributorsPoints>0</RegisterDistributorsPoints>
  <OrdersPoints>0</OrdersPoints>
</Settings>