<hi:common_header runat="server" />

<link href="/style/guajiang/css/big_wheel.css" rel="stylesheet" />
<link href="/style/guajiang/css/smashegg.css?6" rel="stylesheet" />

<section class="c_egg">
    <script type="text/javascript" src="/Utility/egg.js"></script>
    <form runat="server">
        <div class="stage">
            <div id="shape" class="cube no">
                <img src="/images/process/b_egg.jpg" id="e_img" />
                <img src="/images/process/t_egg.png" id="e_img2">
                <img src="/images/process/egg.png" id="eggImg" style="visibility: hidden; position: absolute;" />
                <img src="/images/process/egg1.png" id="egg1Img" style="visibility: hidden; position: absolute;" />
                <img src="hammer.png" id="hammerImg" style="visibility: hidden; position: absolute;" />
                <canvas id="wheelcanvas" width="300" height="300"></canvas>
                <img src="/images/process/e_e.png" id="e_img3">
            </div>
        </div>
        <div id="content">
            <div class="d_mt"></div>
            <div class="boxcontent">
                <div class="box">
                    <div class="title-green">活动说明:</div>
                    <div class="Detail">
                        <asp:literal runat="server" id="litActivityDesc" />
                    </div>
                </div>
            </div>

            <div class="boxcontent">
                <div class="w_exp box">
                    <div class="w_dashed">
                        <div class="title-green">活动时间:</div>

                        <div class="Detail">
                            <p>
                                <asp:literal runat="server" id="litStartDate" />
                            </p>

                            <p>
                                <asp:literal runat="server" id="litEndDate" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxcontent">
                <div class="w_exp box">
                    <div class="title-green">奖项设置:</div>
                    <div class="Detail">
                        <hi:common_prizenames runat="server" id="litPrizeNames" />
                    </div>
                </div>
            </div>

            <div class="boxcontent">
                <div class="w_exp box">
                    <div class="title-green">中奖用户:</div>
                    <div class="Detail">
                        <hi:common_prizeusers runat="server" id="litPrizeUsers" />
                    </div>
                </div>
            </div>

            <div class="copyright2" style="height: 20px;">
            </div>
        </div>
    </form>
</section>
<hi:common_footer runat="server" />
