<div class="header">
    <img src="/images/bg.jpg" style="width: 100%;" />
</div>

<hi:common_header runat="server" />
<div class="distributor" style="padding: 10px; margin-top: 15px; margin-bottom: 15px;font-size:14px;">
    <p>
        您好，很抱歉。您可能因为以下某种原因不符合分销商申请资质：
    </p>
    <p>
        1、累计消费金额未达到 <span class="tuchu"><asp:literal id="txtMoney" runat="server"></asp:literal></span>  元；
    </p>
    <p style="display:none;">
        欢迎加入 <span class="tuchu"><asp:literal id="txtSiteName" runat="server"></asp:literal></span> 
    </p>
</div>

<div class="pbox"><a type="button" id="submit" class="btn btn-danger btn-block" onclick="javascript:history.back();">点击返回</a></div>

<div style="padding:10px;background-color:white;margin:10px;">
    <asp:literal id="txtApplySet" runat="server"></asp:literal>

</div>

<hi:common_footer runat="server" />
