<hi:common_header runat="server" />
<div id="divorderlist" class="pbox">
    <hi:vshoptemplatedrepeater id="rptOrders" templatefile="/Tags/skin-Common_MemberCenterOrders.ascx"
        runat="server" />
</div>
<script>
    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<p id="divEmpty" class="te
xt-center list-empty hide">
    <span class="glyphicon glyphicon-list-alt"></span>订单列表为空
</p>
<script type="text/javascript">
    function FinishOrder(orderId) {
        var data = {};
        data.orderId = orderId;
        myConfirm('询问', '您确定已经收到货物了吗？', '确定收货', function () {
            $.post("/api/VshopProcess.ashx?action=FinishOrder", data, function (json) {
                if (json.success === true) {
                    if (json.isapply == 0) {
                        alert_h('确认收货成功！', function () {
                            location.reload();
                        });
                    }
                    else {
                        alert_h('确认收货成功,您的消费达到成为分销商要求,是否申请？', function () {
                            location.href = "/Vshop/ApplicationDescription.aspx";
                        });
                    }
                }
                else {
                    alert_h(json.msg);
                }
            });

        });
      
    }

    $(function () {
        if (!$.trim($("#divorderlist").html())) {
            $("#divorderlist").hide();
            $("#divEmpty").removeClass('hide');
        }
    })
</script>

<hi:common_footer runat="server" />