<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Hidistro.UI.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="HidistroSqlServer" />
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAX4Qe2MSfb0ywDo0PsPA7wgQAAAACAAAAAAAQZgAAAAEAACAAAADaGMkCcIxTZTe5k88feKeqbkg4ogxQ9i+CJM8LWLOrAAAAAAAOgAAAAAIAACAAAAAvcOLuuAmgeQNbroJ/gNlMLqjEZkkjvDeXiHesQiLHj5ABAADrk458j8gryGnloirk+rrwrkzHKKN/kXagnwPI8Ny3Aa3rRT1LhPb/fOs2yiLNpla1svFWUXYWB99cYdc7SQnHAVEwTmHFq/PMIZN2kiML3ysPfY+S42NEsJYYY6sZR+4Rlyh0omXlqJzA0pTpApeg9QWvIsz+jkTXczhyiKCqhoipuk4zAYqi2gf8a8044ZXKMdej4kei0XbIgFe35zeJEk0dNLNs/W+aeYhsrvmID0TWUM06gx2niqWg9NQ/JbJeksq7TBbmSC90SVINU0k59z717fkyQCkIRzHlruqaS0mBqNs6+ZdHvnvbDxqs5X/MQNNQ7uM6bjnt8u8/IZredpNCF/ttm5wPhs9hDgfDhkR1epD0rg5eyvX7hZ1e06hclapZHsZAf3mLCPMwTpKpMdyLO3YIhEVpaqarfWycQuW0XePqCeJm3T2mp88xTO0f5Q+eGwAOjr0uFvluP79p3krhaSGssXA0Mb1JHLspgys6FwVtbb3f7QZuj9b0gm76PxG6QmZrAVyYcqG4sBR7QAAAADWr1SVz94S5tlVIAvo7kxLL6H7aIrVONJGpwWR2KoaWn/dNT795m2EezhUCJIA7Rsgy7JsTRpXnjRbDEn98p4I=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Kindeditor:BasePath" value="~/kindeditor/" />
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
    <add key="Key" value="/D45IFecEufg+RFCfvoLdQ==" />
    <add key="IV" value="ZbO6DdJ4L6o4WrkTNg320w==" />
    <add key="auth" value="0" />
  </appSettings>
  <system.web>
    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="900E4F219BCA2755FFB8BA5AEDBB556CF64CA019"
      decryptionKey="6471E6ECD3A2D9DC99FA0FFD7CEC9523232843E55F1ED8ED"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true" validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="RegionHandler.aspx" type="Hidistro.UI.Common.Controls.RegionHandler, Hidistro.UI.Common.Controls" />
      <add verb="*" path="UserStatisticeChart.aspx" type="Hidistro.UI.Common.Controls.UserStatisticeChart, Hidistro.UI.Common.Controls" />
      <add verb="*" type="Hidistro.UI.Common.Controls.UploadHandler,Hidistro.UI.Common.Controls" path="uploadHandler.aspx" />
      <add verb="*" path="PluginHandler.aspx" type="Hishop.Plugins.ConfigHandler, Hishop.Plugins" />
      <add verb="*" path="ExpressData.aspx" type="Hidistro.UI.SaleSystem.CodeBehind.ExpressData, Hidistro.UI.SaleSystem.CodeBehind" />
    </httpHandlers>

    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="AutoDetect" slidingExpiration="true" />
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpGet" />
        <remove name="HttpPostLocalhost" />
        <remove name="Documentation" />
        <remove name="Unknown" />
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360" requestValidationMode="2.0" />
  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="3600" />
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers accessPolicy="Read, Execute, Script">
      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <Hidistro.UI.Web.Properties.Settings>
      <setting name="Hidistro_UI_Web_cn_b2m_eucp_sdk4report_SDKService"
        serializeAs="String">
        <value>http://sdk4report.eucp.b2m.cn:8080/sdk/SDKService</value>
      </setting>
    </Hidistro.UI.Web.Properties.Settings>
  </applicationSettings>
</configuration>